:root {
  --font: 'Josefin Sans', sans-serif;

  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --very-dark-blue-dark: hsl(235, 21%, 11%);
  --very-dark-besaturated-blue-dark: hsl(235, 24%, 19%);
  --light-grayish-blue-dark: hsl(234, 39%, 85%);
  --light-grayish-blue-dark: hsl(236, 33%, 92%); /* (hover)*/
  --dark-grayish-blue-dark: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-dark: hsl(233, 14%, 35%);
  --very-darky-grayish-blue-dark: hsl(237, 14%, 26%);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: var(--font);
  font-size: 1.8rem;
}
.container {
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
}

/* Header */

.header {
  background-image: url('../images/bg-desktop-light.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.header-dark {
  background-image: url('../images/bg-desktop-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.disabled{
  display: none !important;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0 2rem 0;
}
.logo h1{
  letter-spacing: 1rem;
  font-size: 3rem;
  color: var(--very-light-gray);
}


main {
  height: 70vh;
}
.background-light-menu {
  background: var(--very-light-grayish-blue);
}
.background-dark-menu {
  background: var(--very-dark-blue-dark);
}
.input-principal {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.8rem;
  position: relative;
  bottom: 13rem;
}
.bg-light {
  background-color: var(--very-light-gray);
}
.bg-dark {
  background: var(--very-dark-besaturated-blue-dark);
}
.input-principal div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--light-grayish-blue);
}
.icon-check {
  display: none;
}
.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
}
.input-principal input {
  width: 100%;
  font-size: 1.6rem;
  border: none;
  background: transparent;
  outline: none;
}
.input-principal input::placeholder {
  color: var(--dark-grayish-blue);
  text-align: center;
}

.boton-agregar {
  background: var(--bright-blue) !important;
  border: none;
  border-radius: 5px;
  width: 8rem !important;
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 1.6rem;
}
.boton-agregar:hover{
  cursor: pointer;
  background: #083693 !important;
  transition: 0.3s ease;
}
.todo-ready {
  background: var(--check-background);
}
.icon-x {
  display: flex;
  align-items: center;
  margin: 0;
}
.input-principal .icon-x img {
  width: 2rem;
  height: 2rem;
  text-align: center;
}
.contenedor-main {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.8rem 0.8rem 0 0;;
  border-bottom: 1px solid var(--light-grayish-blue);
  margin-top: 3rem;
  height: 70px;
  position: relative;
  bottom: 13rem;
}
.contenedor-main div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--light-grayish-blue);
}
.contenedor-main p{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: line-through;
  margin: 0;
  width: 75%;
  font-size: 1.6rem;
  color: var(--dark-grayish-blue);
}
.icon-x img {
  width: 2rem;
  height: 2rem;
}
.contenedor-main-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  border-bottom: 1px solid var(--light-grayish-blue);
  height: 70px;
  position: relative;
  bottom: 13rem;
  color: var(--dark-grayish-blue);
}
.contenedor-main-todo div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--light-grayish-blue);
}
.contendor-main-todo p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: line-through;
  margin: 0;
  width: 75%;
  font-size: 1.6rem;
  color: var(--dark-grayish-blue);
}


.contenedor-main-p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid var(--light-grayish-blue);
  font-style: italic;
  position: relative;
  bottom: 13rem;
}
.contenedor-main-cierre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 2rem;
  border-radius: 0 0 0.8rem 0.8rem;
  color: var(--dark-grayish-blue);
  position: relative;
  bottom: 13rem;
}
.contenedor-main-cierre a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}
.contenedor-main-cierre a:hover {
  color: var(--very-darky-grayish-blue-dark);
}
.contenedor-main-filtro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  padding: 2rem;
  border-radius:0.8rem;
  color: var(--dark-grayish-blue);
  position: relative;
  bottom: 13rem;
  margin-top: 3rem;
  font-weight: bold;
}
.contenedor-main-filtro p:hover {
  color: var(--very-darky-grayish-blue-dark);
  cursor: pointer;
}
.color-blue {
  color: var(--bright-blue);
}
